a.action-btn {
    text-decoration: none;
    color: gray;
}
a.action-btn:hover {
    text-decoration: none;
    color: gray;
}
body { 
    font-family: "Open Sans", sans-serif; font-weight: 400; 
/*			-webkit-transform: rotateZ(0deg);  Activates graphics acceleration and improves performance in some cases... 
*/		}
#reset {
    float: left;
}
#skip {
    float: right;
}